{% extends 'base.html' %}
{% load static %}

{% block title %}
    Пользовательское соглашение
{% endblock %}


{% block content %}
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col text-center"><h3><b>Пользовательское соглашение</b></h3></div>
                    </div>
                    <div>
                        <ol>
                            <li class="agreement-main">
                                <span class="agreement-title">Общие положения</span>
                                <ol class="agreement-text">
                                    <li>Настоящее Пользовательское соглашение относится к интернет-сайту
                                        «Zesshi-store», расположенному по адресу <a href="http://zesshi-store.ru/">zesshi-store.ru</a>
                                    </li>
                                    <li>
                                        Настоящее Соглашение регулирует отношения между Администрацией сайта
                                        «Zesshi-store» и Пользователем данного сайта.
                                    </li>
                                    <li>Администрация сайта оставляет за собой право в любое время изменять,
                                        добавлять или удалять пункты настоящего Соглашения без уведомления Пользователя.
                                    </li>
                                    <li>Использование Сайта Пользователем означает принятие Соглашения и изменений,
                                        внесенных в настоящее Соглашение.
                                    </li>
                                    <li>Пользователь несет персональную ответственность за проверку настоящего
                                        Соглашения на наличие изменений в нем.
                                    </li>
                                    <li>Все названия продуктов и игр, компаний, торговых марок, товарные знаки,
                                        логотипы и остальные материалы являются собственностью соответствующих
                                        владельцев.
                                    </li>
                                    <li>Пользователь осознанно соглашается с условиями Соглашения с помощью сервисов
                                        сайта.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Предмет соглашения</span>
                                <ol class="agreement-text">
                                    <li>
                                        Предметом настоящего Соглашения является предоставление Пользователю доступа
                                        к содержащимся на Сайте Товарам и/или оказываемым услугам.
                                    </li>
                                    <li>
                                        Доступ к сайту предоставляется на бесплатной основе.
                                    </li>
                                    <li>
                                        Настоящее Соглашение является публичной офертой. Получая доступ к Сайту,
                                        Пользователь считается присоединившимся к настоящему Соглашению.
                                    </li>
                                    <li>
                                        Администрация Сайта на возмездной основе предоставляет возможность
                                        Пользователю использовать сервисы сайта для приобретения Товаров в личных
                                        интересах.
                                    </li>
                                    <li>
                                        Любая информация, представленная на Сайте, носит справочный характер. Для
                                        уточнения свойств и характеристик Товара, Пользователь должен обратиться к
                                        Администрации сайта.
                                    </li>
                                    <li>
                                        Товары имеют региональные ограничения на их активацию и пользование, которые
                                        прописаны на странице Товара или при оформлении Заказа.
                                    </li>
                                    <li>
                                        Администрация сайта не является правообладателем (собственником) Товара и
                                        осуществляет лишь реализацию Товара.
                                    </li>

                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Порядок заказа и оплата товара</span>
                                <ol class="agreement-text">
                                    <li>
                                        Пользователь может приобрести любой Товар на Сайте, для этого Пользователь
                                        должен оформить Заказ.
                                    </li>
                                    <li>
                                        Доставка Товара осуществляется моментально после оплаты, за исключением редких
                                        случаев, которые сообщены в описании Товара на Сайте, когда доставка Товара
                                        осуществляется спустя некоторое время после оплаты, либо причин, по которым
                                        Заказ пользователя нуждается в дополнительной проверке Администрацией сайта.
                                        Список причин, по которым заказ отправляется на ручную обработку, определяется
                                        Администрацией сайта самостоятельно.
                                    </li>
                                    <li>
                                        При оформлении Заказа Пользователь должен указать ссылку для связи с админом
                                    </li>
                                    <li>
                                        Актуальная цена указывается на последнем шаге оформления Заказа.
                                    </li>
                                    <li>
                                        Товар оплачивается до его передачи Пользователю в полном объеме: денежными
                                        средствами, валютой, электронными средствами платежа, а также другими способами,
                                        представленными на Сайте.
                                    </li>
                                    <li>
                                        При проведении оплаты может быть предусмотрена комиссия определенной платежной
                                        системы (банка, сотового оператора и т.п.). Данная комиссия оплачивается
                                        Пользователем.
                                    </li>
                                    <li>
                                        На территории России платежи проходят через Юкасса.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Возврат товара</span>
                                <ol class="agreement-text">
                                    <li>
                                        Пользователь вправе отказаться от Заказа Товара до момента его оплаты.
                                    </li>
                                    <li>
                                        Отказ от Товара после оплаты невозможен, поскольку игры приобретенные на
                                        аккаунт имеют индивидуально-определенные характеристики и не могут быть
                                        возвращены обратно в магазин PlayStation.
                                    </li>
                                    <li>
                                        Если возврат денежных средств осуществляется в связи с невозможностью исполнения
                                        Администрацией сайта своих обязательств, то денежные средства направляются на
                                        счет WebMoney, если иной способ возврата не предусмотрен на Сайте или не
                                        определен соглашением Сторон.
                                    </li>
                                    <li>
                                        В случае возврата Товара Пользователем возвращается только та денежная сумма,
                                        которая уплачена за Товар. Из данной суммы могут быть удержаны расходы,
                                        связанные с комиссиями третьих лиц (платежными агрегаторами, агентами, банками,
                                        посредниками и т.п.) за передачу и(или) возврат денежных средств.
                                    </li>
                                    <li>
                                        Пользователь соглашается с тем, что возврат денежных средств может
                                        осуществляться третьими лицами, действующими по поручению Администрации сайта,
                                        при этом Пользователь обязан принять исполнение, предложенное таким третьим
                                        лицом
                                    </li>
                                    <li>
                                        Заявка на возврат денежных средств принимается в течение первых 14
                                        (четырнадцати) дней с момента покупки Товара. По истечении этого срока – заявки
                                        не принимаются и возврат денежных средств не производится.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Права и обязанности сторон</span>
                                <ol class="agreement-text">
                                    <li> Администрация сайта вправе:
                                        <ol>
                                            <li>Изменять правила пользования Сайтом, а также изменять содержание данного
                                                Сайта. Изменения вступают в силу с момента публикации новой редакции
                                                Соглашения на Сайте.
                                            </li>
                                            <li>Удалять учетные записи Пользователей.</li>
                                            <li>Уступать и/или передавать свои права и обязанности, вытекающие из его
                                                отношений с Пользователем, третьим лицам.
                                            </li>
                                            <li>Отказывать в регистрации без объяснения причины.</li>
                                            <li>Использовать электронную почту Пользователя для оповещений рекламного и
                                                ознакомительного характера.
                                            </li>
                                            <li>Оказывать информационную поддержку по активации компьютерных игр,
                                                программного обеспечения, иного цифрового продукта.
                                            </li>
                                        </ol>
                                    </li>
                                    <li> Пользователь вправе:
                                        <ol>
                                            <li>Пользоваться всеми имеющимися на Сайте услугами и сервисами, а также
                                                приобретать любые Товары и/или Услуги, предлагаемые на Сайте.
                                            </li>
                                            <li>Регистрироваться на Сайте для доступа ко всему функционалу сайта.</li>
                                            <li>Задавать любые вопросы, относящиеся к услугам Сайта</li>
                                            <li>Требовать от администрации скрытия любой информации о пользователе.</li>
                                            <li>Требовать удаления своей учетной записи с Сайта.</li>
                                            <li>Использовать информацию сайта для личных некоммерческих целей.</li>
                                            <li>Получить доступ к использованию Сайта после соблюдения требований о
                                                регистрации.
                                            </li>
                                        </ol>
                                    </li>
                                    <li> Пользователь Сайта обязуется:
                                        <ol>
                                            <li>Предоставлять по запросу Администрации сайта дополнительную информацию,
                                                которая имеет непосредственное отношение к предоставляемым услугам
                                                данного Сайта.
                                            </li>
                                            <li>Ознакомиться с условиями доставки, оплаты Товара, характеристиками
                                                Товара, путем перехода по активным ссылкам на Сайте
                                            </li>
                                            <li>Использовать приобретенный Товар исключительно в личных целях, не
                                                связанных с осуществлением коммерческой деятельности.
                                            </li>
                                            <li>Соблюдать имущественные и неимущественные права авторов и иных
                                                правообладателей при использовании Сайта.
                                            </li>
                                            <li>Не предпринимать действий, которые могут рассматриваться как нарушающие
                                                нормальную работу Сайта.
                                            </li>
                                            <li>Не копировать материалы сайта без согласования с Администрацией сайта.
                                            </li>
                                            <li>Не распространять с использованием Сайта любую конфиденциальную
                                                информацию.
                                            </li>
                                            <li>Не использовать Сайт для распространения информации рекламного
                                                характера, иначе как с согласия Администрации сайта.
                                            </li>
                                            <li>Обеспечить достоверность предоставляемой информации.</li>
                                            <li>Обеспечивать сохранность личных данных от доступа третьих лиц.</li>
                                            <li>Обновлять Персональные данные, предоставленные при регистрации, в случае
                                                их изменения.
                                            </li>
                                        </ol>
                                    </li>
                                    <li> Пользователю запрещается:
                                        <ol>
                                            <li>Осуществлять множественные покупки и оптовые закупки Товара. Количество,
                                                допустимое для покупки, определяется Администрацией индивидуально для
                                                каждого Товара. Без появления риска блокировки аккаунта возможно
                                                приобретение только одной копии одного Товара за раз.
                                            </li>
                                            <li>Использовать любые устройства, программы, процедуры, алгоритмы и методы,
                                                автоматические устройства или эквивалентные ручные процессы для доступа,
                                                приобретения, копирования или отслеживания содержания Сайта.
                                            </li>
                                            <li>Нарушать надлежащее функционирование Сайта.</li>
                                            <li>Любым способом обходить навигационную структуру Сайта для получения или
                                                попытки получения любой информации, документов или материалов любыми
                                                средствами, которые специально не представлены сервисами данного Сайта.
                                            </li>
                                            <li>Несанкционированный доступ к функциям Сайта, любым другим системам или
                                                сетям, относящимся к данному Сайту, а также к любым услугам,
                                                предлагаемым на Сайте.
                                            </li>
                                            <li>Нарушать систему безопасности или аутентификации на Сайте или в любой
                                                сети, относящейся к Сайту.
                                            </li>
                                            <li>Выполнять обратный поиск, отслеживать или пытаться отслеживать любую
                                                информацию о любом другом Пользователе Сайта.
                                            </li>
                                            <li>Использовать Товар в коммерческих целях.</li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Использование сайта</span>
                                <ol class="agreement-text">
                                    <li>
                                        Сайт и Содержание, входящее в состав Сайта, принадлежит и управляется
                                        Администрацией сайта.
                                    </li>
                                    <li>
                                        Пользователь несет персональную ответственность за сохранение конфиденциальности
                                        информации учётной записи, включая пароль, а также за всю без исключения
                                        деятельность, которая ведётся от имени Пользователя учётной записи.
                                    </li>
                                    <li>
                                        Пользователь должен незамедлительно уведомить Администрацию сайта о
                                        несанкционированном использовании его учётной записи или пароля, или любом
                                        другом нарушении системы безопасности.
                                    </li>
                                    <li>
                                        Администрация сайта обладает правом в одностороннем порядке аннулировать учетную
                                        запись Пользователя, если она не использовалась более 36 календарных месяцев
                                        подряд без уведомления Пользователя.
                                    </li>
                                    <li>
                                        Настоящее Соглашение распространяет свое действия на все дополнительные
                                        положения и условия о покупке Товара и/или оказанию услуг и сервисов,
                                        предоставляемых на Сайте.
                                    </li>
                                    <li>
                                        Информация, размещаемая на Сайте не должна истолковываться как изменение
                                        настоящего Соглашения.
                                    </li>
                                    <li>
                                        Администрация сайта имеет право в любое время без уведомления Пользователя
                                        вносить изменения в перечень Товаров и услуг, предлагаемых на Сайте, и (или) их
                                        цен.
                                    </li>
                                    <li>
                                        Администрация сайта не гарантирует, что Сайт будет работать беспрерывно и
                                        безошибочно. В случае наличия проблем с работоспособностью Сайта Администрация
                                        сайта обязуется устранить их в кратчайшие сроки.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Отвественность</span>
                                <ol class="agreement-text">
                                    <li>
                                        Любые убытки, которые Пользователь может понести в случае умышленного или
                                        неосторожного нарушения любого положения настоящего Соглашения, а также
                                        вследствие несанкционированного доступа к коммуникациям другого Пользователя,
                                        Администрацией сайта не возмещаются.
                                    </li>
                                    <li>
                                        Администрация сайта не несет ответственности за любые действия Пользователя в
                                        отношении Товара, в том числе за активацию Товара с помощью дополнительного
                                        непредусмотренного для этого программного обеспечения.
                                    </li>
                                    <li>
                                        Администрация сайта не несет ответственности за здоровье Пользователя после
                                        использования Товара.
                                    </li>
                                    <li>
                                        В случае возникновения ситуации у Пользователя с неработоспособностью ключа
                                        активации, Администрация сайта сделает всё возможное, чтобы решить эту ситуацию.
                                        При этом Пользователю нужно будет проделать все действия, которые потребует
                                        Администрации Сайта для разрешения данной ситуации.
                                    </li>
                                    <li>
                                        Администрация сайта не несет ответственности, если у Пользователя нет
                                        технической возможности получения Товара, его активации, доступа к сайту,
                                        собственной электронной почте и другим сервисам, которые никак не связаны с
                                        Сайтом.
                                    </li>
                                    <li>
                                        Администрация сайта не несет ответственности за любые технические проблемы
                                        программного обеспечения (игры). За это несет ответственность издатель и/или
                                        разработчик.
                                    </li>
                                    <li>
                                        Не одна из Сторон не несет ответственности перед другой Стороной за задержку,
                                        невыполнение обязательств, обусловленных обстоятельствами, возникшими помимо
                                        воли и желания Сторон, и которые нельзя предвидеть или избежать, включая
                                        объявленную или фактическую войну, гражданские волнения, эпидемии, блокаду,
                                        эмбарго, землетрясения, наводнения, пожары и другие стихийные бедствия.
                                    </li>
                                    <li>
                                        Если обстоятельства непреодолимой силы действуют на протяжении шести
                                        последовательных месяцев и не обнаруживают признаков прекращения, то настоящее
                                        Соглашение может быть расторгнуто любой из Сторон путем направления уведомления
                                        другой Стороны и считается расторгнутым с момента получения уведомления.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Нарушение условий пользоватеьского соглашения</span>
                                <ol class="agreement-text">
                                    <li>
                                        Администрация сайта вправе без предварительного уведомления Пользователя
                                        прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил
                                        настоящее Соглашение или содержащиеся в иных документах условия пользования
                                        Сайтом, а также в случае прекращения действия Сайта либо по причине технической
                                        неполадки или проблемы.
                                    </li>
                                    <li>
                                        Администрация сайта не несет ответственности перед Пользователем или третьими
                                        лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого
                                        положения настоящего Соглашения или иного документа, содержащего условия
                                        пользования Сайтом.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Конфиденциальность</span>
                                <ol class="agreement-text">
                                    <li>
                                        Любая персональная информация, переданная Сторонами друг другу, является
                                        конфиденциальной информацией.
                                    </li>
                                    <li>
                                        Пользователь даёт согласие Администрации сайта на сбор, обработку и хранение
                                        своих личных персональных данных двух видов: информацию, которую пользователь
                                        сознательно раскрыл Администрации сайта в целях пользования ресурсами Сайта, а
                                        также техническую информацию, автоматически собираемую программным обеспечением
                                        Сайта во время его посещения.
                                    </li>
                                    <li>
                                        Пользователь соглашается с условиями, целями и порядком обработки персональных
                                        данных на условиях Политики в области обработки персональных данных, а также
                                        даёт своё Согласие на обработку персональных данных.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Заключительные положения</span>
                                <ol class="agreement-text">
                                    <li>
                                        Любые споры обе стороны решают путем переговоров.
                                    </li>
                                    <li>
                                        Администрация сайта не принимает встречные предложения от Пользователя
                                        относительно изменений настоящего Пользовательского соглашения.
                                    </li>
                                    <li>
                                        Администрация сайта не несет ответственности за возможный ущерб третьим лицам,
                                        нанесенный с использованием сайта и его сервисов.
                                    </li>
                                    <li>
                                        Заключая настоящее Соглашение, Пользователь гарантирует, что он обладает полной
                                        правоспособностью и дееспособностью, и имеет право заключать настоящее
                                        Соглашение.
                                    </li>
                                    <li>
                                        Стороны обязуются сообщать друг другу о любом факте несанкционированного
                                        разглашения информации третьим лицам.
                                    </li>
                                    <li>
                                        Исключительное право на Сайт принадлежит Администрации сайта.
                                    </li>
                                    <li>
                                        Исключительные права на Товар принадлежат их правообладателем.
                                    </li>
                                    <li>
                                        Действующее Соглашение размещено на странице Сайта по адресу:
                                        <a href="https://zesshi-store.ru/docs/agreement">
                                            https://zesshi-store.ru/docs/agreement/</a>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}