{% extends 'base.html' %}
{% load static %}

{% block title %}
    Обработка персональных данных
{% endblock %}


{% block content %}
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col text-center"><h3><b>Согласие на обработку персональных данных</b></h3></div>
                    </div>
                    <div>
                        <ol>
                            <li class="agreement-main">
                                <span class="agreement-title">Согласие на обработку персональных данных предоставляется Пользователем
                                        посредством регистрации на сайте zesshi-store.ru . Администрацией
                                        сайта обрабатываются следующие персональные данные Пользователя:</span>
                                <ol class="agreement-text">
                                    <li>
                                        Имя пользователя
                                    </li>
                                    <li>
                                        Электронная почта
                                    </li>
                                    <li>Иная информация, указанная субъектом персональных данных на Сайте.
                                    </li>
                                </ol>
                                <p class="mt-3">
                                    Также обрабатываются данные, автоматически передающиеся Администрацией сайта в
                                    процессе посещения и использования Сайта с помощью установленного на устройстве
                                    Пользователя программного обеспечения, в том числе: IP-адрес, информация из cookie,
                                    информация о браузере Пользователя (или иной программе, с помощью которой
                                    осуществляется доступ к сайту), информация поискового и рекламного запросов,
                                    пользовательские клики, просмотры страниц, заполнения полей, показы и просмотры
                                    баннеров и видео, параметры сессии, время доступа, адрес запрашиваемой страницы и
                                    иные.
                                    Администрацией сайта могут обрабатываться и иные персональные данные,
                                    непосредственно необходимые для выполнения целей обработки персональных данных.
                                </p>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Согласие на обработку персональных данных предоставляется Пользователем одним
                                    из следующих способов:</span>
                                <ol class="agreement-text">
                                    <li>
                                        заполнением формы обратной связи на Сайте;
                                    </li>
                                    <li>
                                        посредством согласия с Пользовательским соглашением и для целей его исполнения;
                                    </li>
                                    <li>
                                        посредством регистрации на Сайте для пользования полным сервисом Сайта.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Согласие дается на обработку персональных данных, не являющиеся специальными
                                    или биометрическими.</span>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Персональные данные не являются общедоступными.</span>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Администрация сайта осуществляет обработку персональных данных для следующих
                                    целей:</span>
                                <ol class="agreement-text">
                                    <li>для исполнения договора, стороной которого либо выгодоприобретателем или
                                        поручителем, по которому является субъект персональных данных;

                                    </li>
                                    <li>для заключения договора по инициативе субъекта персональных данных или
                                        договора, по которому субъект персональных данных будет являться
                                        выгодоприобретателем или поручителем;
                                    </li>
                                    <li>для достижения целей, предусмотренных международным договором Российской
                                        Федерации или законом, для осуществления и выполнения возложенных
                                        законодательством Российской Федерации на Администрацию сайта функций,
                                        полномочий и обязанностей.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Действия Администрации сайта по обработке персональных данных включают сбор,
                                    запись, систематизацию, накопление, хранение, уточнение (обновление, изменение),
                                    извлечение, использование, передачу (распространение, предоставление, доступ),
                                    обезличивание, блокирование, удаление и уничтожение.</span>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Администрацией сайта обрабатывает и хранит персональные данные до достижения
                                    Администрацией сайта целей обработки персональных данных или до утраты
                                    необходимости в достижении этих целей.</span>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Обработка персональных данных может быть прекращена по
                                    запросу Пользователя или его представителя в порядке, определенном в Политике.
                                    Хранение персональных данных, зафиксированных на бумажных носителях,
                                    осуществляется согласно Федеральному закону №125-ФЗ Об архивном деле в Российской
                                    Федерации и иным нормативно правовым актам в области архивного дела и архивного
                                    хранения.</span>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">В случае отзыва Пользователем или его представителем согласия на обработку
                                    персональных данных, Администрация сайта вправе продолжить обработку персональных
                                    данных без согласия Пользователя при наличии оснований, указанных в п.2 11 ч.1 ст
                                    . 6, ч. 2 ст. 10 и ч. 2 ст.11 Федерального закона №152-ФЗ О персональных данных
                                    от 27.07.2006 г.</span>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Настоящее согласие является неотъемлемой частью Политики конфиденциальности и
                                    Пользовательского соглашения</span>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}