{% extends 'base.html' %}
{% load static %}

{% block title %}
    Политика конфиденциальности
{% endblock %}


{% block content %}
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col text-center"><h3><b>Политика конфиденциальности</b></h3></div>
                    </div>
                    <div>
                        <ol>
                            <li class="agreement-main">
                                <span class="agreement-title">Общие положения</span>
                                <ol class="agreement-text">
                                    <li>Настоящая Политика в отношении обработки персональных данных (далее - Политика)
                                        подготовлена в соответствии с п. 2 ч .1 ст. 18.1 Федерального закона Российской
                                        Федерации «О персональных данных» №152-ФЗ от 27 июля 2006 года (далее - Закон) и
                                        определяет позицию Администрации сайта (далее – Администрация сайта) в области
                                        обработки и защиты персональных данных (далее - Данные), соблюдения прав и
                                        свобод каждого человека и, в особенности, права на неприкосновенность частной
                                        жизни, личную и семейную тайну.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Область применения</span>
                                <ol class="agreement-text">
                                    <li>
                                        Настоящая Политика распространяется на Данные, полученные как до, так и после
                                        ввода в действие настоящей Политики.
                                    </li>
                                    <li>
                                        Понимая важность и ценность Данных, а также заботясь о соблюдении
                                        конституционных прав граждан Российской Федерации и граждан других государств,
                                        Администрация сайта обеспечивает надежную защиту Данных.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Определения</span>
                                <ol class="agreement-text">
                                    <li>
                                        Под Данными понимается любая информация, относящаяся к прямо или косвенно
                                        определенному или определяемому физическому лицу, т.е. к такой информации, в
                                        частности, относятся: фамилия, имя, отчество, электронная почта,
                                        месторасположение, ссылка на персональный сайт или соцсети, ip адрес.
                                    </li>
                                    <li>
                                        Под обработкой Данных понимается любое действие (операция) или совокупность
                                        действий (операций) с Данными, совершаемых с использованием средств
                                        автоматизации и/или без использования таких средств. К таким действиям
                                        (операциям) относятся: сбор, запись, систематизация, накопление, хранение,
                                        уточнение (обновление, изменение), извлечение, использование, передача
                                        (распространение, предоставление, доступ), обезличивание, блокирование,
                                        удаление, уничтожение Данных.
                                    </li>
                                    <li>
                                        Под безопасностью Данных понимается защищенность Данных от неправомерного и/или
                                        несанкционированного доступа к ним, уничтожения, изменения, блокирования,
                                        копирования, предоставления, распространения Данных, а также от иных
                                        неправомерных действий в отношении Данных.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Правовые основания и цели обработки Данных</span>
                                <ol class="agreement-text">
                                    <li>
                                        Обработка и обеспечение безопасности Данных Администрацией сайта осуществляется
                                        в соответствии с требованиями Конституции Российской Федерации, Закона,
                                        Трудового кодекса Российской Федерации, подзаконных актов, других определяющих
                                        случаи и особенности обработки Данных федеральных законов Российской Федерации,
                                        руководящих и методических документов ФСТЭК России и ФСБ России.
                                    </li>
                                    <li> Администрация сайта осуществляет обработку Данных субъектов в следующих целях:
                                        <ol>
                                            <li>
                                                осуществления возложенных на Администрацию сайта законодательством
                                                Российской Федерации функций, полномочий и обязанностей в соответствии с
                                                федеральными законами,
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Пользователей в целях:
                                        <ol>
                                            <li>предоставления информации по товарам/услугам, проходящим акциям и
                                                специальным предложениям
                                            </li>
                                            <li>анализа качества предоставляемого сервиса и улучшению качества
                                                обслуживания клиентов
                                            </li>
                                            <li>информирования о статусе заказа</li>
                                            <li> исполнения договора, в т.ч. договора купли-продажи, в т.ч. заключенного
                                                дистанционным способом на Сайте, возмездного оказания услуг;
                                                предоставления услуг, а также учета оказанных потребителям услуг для
                                                осуществления взаиморасчетов
                                            </li>
                                            <li>доставки заказанного Товара Пользователю, совершившему заказ на Сайте,
                                                возврата товара
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Принципы и условия обработки Данных.</span>
                                <ol class="agreement-text">
                                    <li> При обработке Данных Администрация сайта придерживается следующих принципов:
                                        обработка Данных осуществляется на законной и справедливой основе; Данные не
                                        раскрываются третьим лицам и не распространяются без согласия субъекта Данных,
                                        за исключением случаев, требующих раскрытия Данных по запросу уполномоченных
                                        государственных органов, судопроизводства; определение конкретных законных целей
                                        до начала обработки (в т.ч. сбора) Данных; ведется сбор только тех Данных,
                                        которые являются необходимыми и достаточными для заявленной цели обработки;
                                        объединение баз данных, содержащих Данные, обработка которых осуществляется в
                                        целях, несовместимых между собой не допускается; обработка Данных ограничивается
                                        достижением конкретных, заранее определенных и законных целей; обрабатываемые
                                        Данные подлежат уничтожению или обезличиванию по достижению целей обработки или
                                        в случае утраты необходимости в достижении этих целей, если иное не
                                        предусмотрено федеральным законом.
                                    </li>
                                    <li>Администрация сайта может включать Данные субъектов в общедоступные источники
                                        Данных, при этом Администрация сайта берет письменное согласие субъекта на
                                        обработку его Данных, либо путем выражения согласия через форму сайта (чекбокс),
                                        нажатием которого субъект персональных данных выражает свое согласие.
                                    </li>
                                    <li>Администрация сайта не осуществляет обработку Данных, касающихся расовой,
                                        национальной принадлежности, политических взглядов, религиозных, философских и
                                        иных убеждений, интимной жизни, членства в общественных объединениях, в том
                                        числе в профессиональных союзах.
                                    </li>
                                    <li>В целях выполнения условий договора, для оплаты заказа Субъект самостоятельно
                                        вводит платежную информацию на стороне платежного сервиса, который берет на себя
                                        проведение платежа. При этом Администрация сайта не обрабатывает и не сохраняет
                                        платежную информацию, а именно реквизиты кредитных карт.
                                    </li>
                                    <li>Биометрические Данные (сведения, которые характеризуют физиологические и
                                        биологические особенности человека, на основании которых можно установить его
                                        личность и которые используются оператором для установления личности субъекта
                                        Данные) Администрацией сайта не обрабатываются.
                                    </li>
                                    <li>Администрация сайта осуществляет трансграничную передачу данных. Администрация
                                        сайта подтверждает, что иностранным государством, на территорию которого
                                        осуществляется передача персональных данных, обеспечивается адекватная защита
                                        прав субъектов персональных данных в соответствии с уровнем безопасности,
                                        определенным Конвенцией Совета Европы о защите физических лиц при
                                        автоматизированной обработке персональных данных.
                                    </li>
                                    <li>В случаях, установленных законодательством Российской Федерации, Администрация
                                        сайта вправе осуществлять передачу Данных третьим лицам (федеральной налоговой
                                        службе, государственному пенсионному фонду и иным государственным органам) в
                                        случаях, предусмотренных законодательством Российской Федераци
                                    </li>
                                    <li>Администрация сайта вправе поручить обработку Данных субъектов Данных третьим
                                        лицам с согласия субъекта Данных, на основании заключаемого с этими лицами
                                        договора, в том числе при согласии с пользовательским соглашением и политики
                                        обработки персональных данных размещенных на сайте.
                                    </li>
                                    <li>Лица, осуществляющие обработку Данных на основании заключаемого с Администрация
                                        сайта договора (поручения оператора), обязуются соблюдать принципы и правила
                                        обработки и защиты Данных, предусмотренные Законом. Для каждого третьего лица в
                                        договоре определяются перечень действий (операций) с Данными, которые будут
                                        совершаться третьим лицом, осуществляющим обработку Данных, цели обработки,
                                        устанавливается обязанность такого лица соблюдать конфиденциальность и
                                        обеспечивать безопасность Данных при их обработке, указываются требования к
                                        защите обрабатываемых Данных в соответствии с Законом.
                                    </li>
                                    <li>В целях исполнения требований своих договорных обязательств обработка Данных в
                                        Администрация сайта осуществляется как с использованием, так и без использования
                                        средств автоматизации. Совокупность операций обработки включает сбор, запись,
                                        систематизацию, накопление, хранение, уточнение (обновление, изменение),
                                        извлечение, использование, передачу (предоставление, доступ), обезличивание,
                                        блокирование, удаление, уничтожение Данных.
                                    </li>
                                    <li>Администрацией сайта запрещается принятие на основании исключительно
                                        автоматизированной обработки Данных решений, порождающих юридические последствия
                                        в отношении субъекта Данных или иным образом затрагивающих его права и законные
                                        интересы.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Права и обязанности субъектов Данных, а также Администрации сайта в части обработки Данных</span>
                                <ol class="agreement-text">
                                    <li>
                                        Субъект, Данные которого обрабатываются Администрацией сайта, имеет право:
                                        <ol>
                                            <li>получать от Администрации сайта:
                                                <ol>
                                                    <li>подтверждение факта обработки Данных и сведения о наличии
                                                        Данных, относящихся к соответствующему субъекту Данных
                                                    </li>
                                                    <li>сведения о правовых основаниях и целях обработки Данных</li>
                                                    <li>сведения о применяемых Администрацией сайта способах обработки
                                                        Данных
                                                    </li>
                                                    <li>перечень обрабатываемых Данных, относящихся к субъекту Данных, и
                                                        информацию об источнике их получения
                                                    </li>
                                                    <li>сведения о сроках обработки Данных, в том числе о сроках их
                                                        хранения
                                                    </li>
                                                    <li>сведения о порядке осуществления субъектом Данных прав</li>
                                                    <li>иные сведения, предусмотренные Законом или другими
                                                        нормативно-правовыми актами Российской Федерации
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        требовать от Администрации сайта:
                                        <ol>
                                            <li>уточнения своих Данных, их блокирования или уничтожения в случае, если
                                                Данные являются неполными, устаревшими, неточными, незаконно полученными
                                                или не являются необходимыми для заявленной цели обработки
                                            </li>
                                            <li>отозвать свое согласие на обработку Данных в любой момент; требовать
                                                устранения неправомерных действий Администрации сайта в отношении его
                                                Данных
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        Администрация сайта в процессе обработки Данных обязана:
                                        <ol>
                                            <li>предоставлять субъекту Данных по его запросу информацию, касающуюся
                                                обработки его персональых данных, либо на законных основаниях
                                                предоставить отказ в течение тридцати дней с даты получения запроса
                                                субъекта Данных или его представителя
                                            </li>
                                            <li>разъяснить субъекту Данных юридические последствия отказа предоставить
                                                Данные, если предоставление Данных является обязательным в соответствии
                                                с федеральным законом
                                            </li>
                                            <li>принимать необходимые правовые, организационные и технические меры или
                                                обеспечивать их принятие для защиты Данных от неправомерного или
                                                случайного доступа к ним, уничтожения, изменения, блокирования,
                                                копирования, предоставления, распространения Данных, а также от иных
                                                неправомерных действий в отношении Данных
                                            </li>
                                            <li>опубликовать в сети Интернет и обеспечить неограниченный доступ с
                                                использованием сети Интернет к документу, определяющему его политику в
                                                отношении обработки Данных, к сведениям о реализуемых требованиях к
                                                защите Данных
                                            </li>
                                            <li>предоставить субъектам Данных и/или их представителям безвозмездно
                                                возможность ознакомления с Данными при обращении с соответствующим
                                                запросом в течение 30 дней с даты получения подобного запроса
                                            </li>
                                            <li>осуществить блокирование неправомерно обрабатываемых Данных, относящихся
                                                к субъекту Данных, или обеспечить их блокирование (если обработка Данных
                                                осуществляется другим лицом, действующим по поручению Администрация
                                                сайта) с момента обращения или получения запроса на период проверки, в
                                                случае выявления неправомерной обработки Данных при обращении субъекта
                                                Данных или его представителя либо по запросу субъекту Данных или его
                                                представителя либо уполномоченного органа по защите прав субъектов
                                                персональных данных
                                            </li>
                                            <li>уточнить Данные либо обеспечить их уточнение течение 7 рабочих дней со
                                                дня представления сведений и снять блокирование Данных, в случае
                                                подтверждения факта неточности Данных на основании сведений,
                                                представленных субъектом Данных или его представителем
                                            </li>
                                            <li>прекратить неправомерную обработку Данных или обеспечить прекращение
                                                неправомерной обработки Данных
                                            </li>
                                            <li>прекратить обработку Данных или обеспечить ее прекращение и уничтожить
                                                Данные или обеспечить их уничтожение по достижения цели обработки
                                                Данных, если иное не предусмотрено договором, стороной которого,
                                                выгодоприобретателем или поручителем, по которому является субъект
                                                Данных, в случае достижения цели обработки Данных
                                            </li>
                                            <li>прекратить обработку Данных или обеспечить ее прекращение и уничтожить
                                                Данные или обеспечить их уничтожение в случае отзыва субъектом Данных
                                                согласия на обработку Данных, если Администрация сайта не вправе
                                                осуществлять обработку Данных без согласия субъекта Данных
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Требования к защите Данных</span>
                                <ol class="agreement-text">
                                    <li>
                                        Администрация сайта при обработке Данных принимает необходимые правовые,
                                        организационные и технические меры для защиты Данных от неправомерного и/или
                                        несанкционированного доступа к ним, уничтожения, изменения, блокирования,
                                        копирования, предоставления, распространения Данных, а также от иных
                                        неправомерных действий в отношении Данных.
                                    </li>
                                    <li>
                                        К таким мерам в соответствии с Законом, в частности, относятся:
                                        <ol>
                                            <li>назначение лица, ответственного за организацию обработки Данных, и лица,
                                                ответственного за обеспечение безопасности Данных
                                            </li>
                                            <li>разработка и утверждение локальных актов по вопросам обработки и защиты
                                                Данных
                                            </li>
                                            <li>применение правовых, организационных и технических мер по обеспечению
                                                безопасности Данных
                                            </li>
                                            <li>определение угроз безопасности Данных при их обработке в информационных
                                                системах персональных данных
                                            </li>
                                            <li>применение организационных и технических мер по обеспечению безопасности
                                                Данных при их обработке в информационных системах персональных данных,
                                                необходимых для выполнения требований к защите Данных
                                            </li>
                                            <li>применение прошедших в установленном порядке процедуру оценки
                                                соответствия средств защиты информации
                                            </li>
                                            <li>оценка эффективности принимаемых мер по обеспечению безопасности Данных
                                                до ввода в эксплуатацию информационной системы персональных данных
                                            </li>
                                            <li>учет машинных носителей Данных, если хранение Данных осуществляется на
                                                машинных носителях
                                            </li>
                                            <li>обнаружение фактов несанкционированного доступа к Данным и принятие мер
                                                по недопущению подобных инцидентов в дальнейшем
                                            </li>
                                            <li>восстановление Данных, модифицированных или уничтоженных вследствие
                                                несанкционированного доступа к ним
                                            </li>
                                            <li>установление правил доступа к Данным, обрабатываемым в информационной
                                                системе персональных данных, а также обеспечение регистрации и учета
                                                всех действий, совершаемых с Данными в информационной системе
                                                персональных данных
                                            </li>
                                            <li>контроль за принимаемыми мерами по обеспечению безопасности Данных и
                                                уровнем защищенности информационных систем персональных данных
                                            </li>
                                            <li>оценка вреда, который может быть причинен субъектам Данных в случае
                                                нарушения требований Закона, соотношение указанного вреда и принимаемых
                                                Администрацией сайта мер, направленных на обеспечение выполнения
                                                обязанностей, предусмотренных Законом
                                            </li>
                                            <li>соблюдение условий, исключающих несанкционированный доступ к
                                                материальным носителям Данных и обеспечивающих сохранность Данных
                                            </li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Сроки обработки (хранения) Данных</span>
                                <ol class="agreement-text">
                                    <li>
                                        Сроки обработки (хранения) Данных определяются исходя из целей обработки Данных,
                                        в соответствии со сроком действия договора с субъектом Данных, требованиями
                                        федеральных законов, требованиями операторов Данных, по поручению которых
                                        Администрация сайта осуществляет обработку Данных, основными правилами работы
                                        архивов организаций, сроками исковой давности.
                                    </li>
                                    <li>
                                        Данные, срок обработки (хранения) которых истек, должны быть уничтожены.
                                        Хранение Данных после прекращения их обработки допускается только после их
                                        обезличивания.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Порядок получения разъяснений по вопросам обработки Данных</span>
                                <ol class="agreement-text">
                                    <li>
                                        Лица, чьи Данные обрабатываются Администрацией сайта, могут получить разъяснения
                                        по вопросам обработки своих Данных, обратившись к Администрация сайта через
                                        форму обратной связи.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Особенности обработки и защиты Данных, собираемых Администрация сайта с использованием сети Интернет</span>
                                <ol class="agreement-text">
                                    <li>
                                        Аминистрация сайта обрабатывает Данные, поступающие от пользователей Cайта с
                                        ресурса: https://zesshi-store.ru/ , через форму обратной
                                        связи, расположенную по адресу: https://zesshi-store.ru/contact_us/.
                                    </li>
                                </ol>
                            </li>
                            <li class="agreement-main">
                                <span class="agreement-title">Заключительные положения</span>
                                <ol class="agreement-text">
                                    <li>
                                        Настоящая Политика является локальным нормативным актом Администрации сайта.
                                        Настоящая Политика является общедоступной. Общедоступность настоящей Политики
                                        обеспечивается публикацией на Сайте. Настоящая Политика может быть пересмотрена
                                        в любом из следующих случаев:
                                        <ol>
                                            <li>при изменении законодательства Российской Федерации в области обработки
                                                и защиты персональных данных
                                            </li>
                                            <li>в случаях получения предписаний от компетентных государственных органов
                                                на устранение несоответствий, затрагивающих область действия Политики
                                            </li>
                                            <li>по решению Администрации сайта</li>
                                            <li>при изменении целей и сроков обработки Данных</li>
                                            <li>при изменении организационной структуры, структуры информационных и/или
                                                телекоммуникационных систем (или введении новых)
                                            </li>
                                            <li>при применении новых технологий обработки и защиты Данных (в т. ч.
                                                передачи, хранения)
                                            </li>
                                            <li>при появлении необходимости в изменении процесса обработки Данных,
                                                связанной с деятельностью Сайта
                                            </li>
                                        </ol>
                                    </li>
                                    <li>Неотъемлемой частью настоящей Политики является Согласие на обработку
                                        персональных данных, размерещнное на Сайте.
                                    </li>
                                    <li>
                                        Настоящая Политика действует непосредственно и взаимосвязано с Пользовательским
                                        соглашением, размещенным на Сайте.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}