.main-button{
    width: 350px;
}
@media only screen and (max-width: 767px){
    .main-button{
        width: 300px;
        font-size: 10px;
    }
}
@media only screen and (max-width: 411px){
    .main-button{
        width: 250px;
    }
    .g-recaptcha{
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
@media only screen and (max-width: 411px){
    .main-button{
        width: 230px;
    }
}