.product-item {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    position: relative;
    padding: 15px;
    box-shadow: 0px 0px 25px -14px rgba(34, 60, 80, 0.2);
    margin-bottom: 1.5rem;
    text-align: center;
}
.title{
    min-height: 70px;
    display: flex;
    justify-content: center;
}
.title a{
    align-self: center;
}
.product-item:hover {
    box-shadow: 0px 0px 25px -14px rgba(34, 60, 80, 0.7);
}

.product-item .product-thumb img {
    width: 100%;

}

.product-info a {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.product-info a:hover {
    color: #2a52be;
}

.buy{
    float: right;
    padding: 6px 15px 5px;
    background: #2a52be;
    border-radius: 25px;
    border-color: transparent;
    color: #fff;
    font-size: 1rem;
}

.buy:hover {
    color: #fff;
    background: #5b6fa3;
}

.price {
    color: #555;
}

.section-genres a {
    padding: 6px 15px 5px;
    background: #e5e5e5;
    border-radius: 25px;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0.25rem;
    color: #000;
    text-decoration: none;
}

.section-genres a:hover {
    background: #000;
    color: #fff;
}
.ilabel {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(42,82,190,0.8) 100%);
    padding: 5px 10px 3px;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    top: 30px;
    color: #fff;
    font-size: 0.8rem;
}