<footer>
    <nav class="navbar d-flex justify-content-between navbar-expand-lg mt-2">
        <div class="container">
            <div>
                <a href="https://github.com/Zesshhi?tab=repositories" target="_blank" class="navbar-brand
                footer-contact">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://t.me/zesshhi" target="_blank" class="navbar-brand footer-contact">
                    <i class="bi bi-telegram"></i>
                </a>
            </div>
            <div class="genres align-self-center text-center">
                <a href="{% url 'docs_agreement' %}">Agreement</a>
                <br>
                <a href="{% url 'docs_personal' %}">Personal data</a>
                <br>
                <a href="{% url 'docs_privacy' %}">Privacy policy</a>
            </div>
        </div>
    </nav>
</footer>